<div class='w-100 h-100 login-page p-3'>
    <div class='login-card w-50 p-3'>
        <div class='font-large'>
            <b>Forgot Password</b>
        </div>
        <div class="forgot-section" *ngIf='!isVerified'>
            <div class='row-attr w-50 pt-3'>
                <div>
                    <b>Username</b>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>

                        <input [formControl]='userName' placeholder="Username" matInput required />
                    </mat-form-field>
                </div>
            </div>


            <div class='row-attr w-50 pt-3'>
                <div>
                    <b>Hint Question</b>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-select [formControl]='hintQuestion' placeholder="Select Hint Question">
                            <mat-option [value]='eachHint.id' *ngFor='let eachHint of hintsArray; let i = index'>
                                {{eachHint.hint_question}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class='row-attr w-50 pt-3' *ngIf="hintQuestion && hintQuestion.value">
                <div>
                    <b>Answer</b>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Answer</mat-label>
                        <input [formControl]='answer' matInput value="Hello" required />
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button (click)='submitQuestion()' class='primary_btn'
                    [ngClass]=" {'disabled': (false)}">Submit</button>
            </div>

        </div>
        <div class="forgot-section" *ngIf='isVerified'>
            <div class='w-50 pt-3'>
                <div class='question-stmt'>
                    If you want to change the old password
                </div>

                <div class='row-attr w-100 pt-3'>
                    <div>
                        <b>New Password</b>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>New Password</mat-label>
                            <input type="password" [formControl]='newPassword' matInput required />
                        </mat-form-field>
                    </div>
                </div>
                <div class='row-attr w-100 pt-3'>
                    <div>
                        <b>Confirm Password</b>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" [formControl]='confirmPassword' matInput required />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button (click)='submit()' class='primary_btn' [ngClass]=" {'disabled': (false)}">Submit</button>
            </div>

        </div>
    </div>
</div>

<!-- C:\LoanIQ\Server\tomcat.ini

C:\LoanIQ\Server\tomcatrestquery.ini

C:\LoanIQ\Server\tomcatrest.ini

C:\LoanIQ\Server\ls2app.ini

C:\LoanIQ\Server\runliq.cmd

C:\LoanIQ\Server\TomcatRest\ls2app.ini

C:\LoanIQ\Server\TomcatRestQuery\ls2app.ini

C:\LoanIQ\Server\Tomcat\jrconf\JSqlAccessProperties.xml

C:\LoanIQ\Server\Tomcat\conf\server.xml

C:\LoanIQ\Server\Tomcat\conf\context.xml

C:\LoanIQ\Server\Tomcat\conf\tomcat-users.xml -->