.login-card {

    border: 0px solid;
    box-shadow: 3px 3px 10px 5px grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-attr {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
@mixin primary_btn_mixin($color1, $color2) {
    border: 1px solid $color1;
    outline: none;
    background: $color2;
    color: $color1;
    font-weight: 500;
            font-size: 13px;
            border-radius: 1rem;
            padding: 0.25rem 1.5rem;
        }
.primary_btn {
    @include primary_btn_mixin(#b23db6, #FFF)
}
.primary_btn:hover {
    @include primary_btn_mixin(#FFF, #b23db6)
}
.disabled {
    background-color: #d6d6d6;
    color: white;
    border: none !important;
    outline: none;
}
.font-large {
    font-size: 1.2rem;
}
.question-stmt {
    text-align: center;
    font-size: 1.1rem;
}